<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MindtekElarAutomation">
    <test name="UI Automation">
        <groups>
            <run>
                <include name="testbase"/>
                <include name="smoke"/>

<!--                <exclude name="negative"/>-->
            </run>
        </groups>
        <classes>
            <class name="tests.ui.FrameworkTest"/>
            <class name="tests.ui.CreateDriverTest"/>
            <class name="tests.ui.FullNameFieldValidationTest"/>
        </classes>
    </test>

    <test name="API Automation">
        <groups>
            <run>
                <include name="api"/>
                <include name="regression"/>

                <exclude name="knownBug"/>
            </run>
        </groups>
        <classes>
            <class name="tests.api.CreateDriverApiTest"/>

        </classes>
    </test>


<!--    <test name="Mobile">-->
<!--    </test>-->
</suite>